.Rproj.user
.Rhistory
.RData
biogram_presentation.Rproj
biogram_presentation-concordance.tex
biogram_presentation.aux
biogram_presentation.bbl
biogram_presentation.blg
biogram_presentation.log
biogram_presentation.nav
biogram_presentation.out
biogram_presentation.snm
biogram_presentation.synctex.gz
biogram_presentation.tex
biogram_presentation.toc
